.side {
    overflow-x: auto; 
    flex: 0 0 200px;
}

.todo-header {
    margin: 20px;
    font-size: 1.7em;
    font-family: "NewsreaderLight"
}

.todo-item {
    list-style-type: none;
    font-size: 1.2em;
    margin: 10px 30px;
}