.dropdown {
    position: absolute;
    transform: translateY(80px) translateX(-60px);
    display: flex;
    flex-direction: column;
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.dropdown-item {
    font-size: 1.2em;
    color: rgb(55, 55, 55);
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    transition: background-color .2s;
    border: solid 1px lightgray;
    text-decoration: none;
    user-select: none;
}

.dropdown-item:hover {
    background-color: rgb(223, 223, 223);
}