.interface-container {
    display: grid;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'side body body body body body';
    grid-template-rows: auto 1fr;
    grid-template-columns: 280px 1fr 1fr 1fr 1fr 1fr;
    min-height: 100vh;
}

.interface-container.fullwidth {
    grid-template-areas:
        'nav nav nav nav nav nav'
        'body body body body body body';
}

.side { grid-area: side; }
.nav { grid-area: nav; }
.body { grid-area: body; }