.sign-in {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.form-wrapper {
    background: linear-gradient(to right, rgb(66, 174, 240), rgb(108, 27, 207));
    padding: 5px;
    border-radius: 30px;
}

.sign-in-form {
    padding: 40px 30px;
    border-radius: 25px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-header {
    font-size: 2.5em;
    margin: 20px 0;
}

.form-field {
    color: rgb(95, 95, 95);
    padding: 15px;
    font-size: 1.5em;
    margin: 10px 0;
    border: solid 2px rgb(213, 213, 213);
    border-radius: 20px;
    transition: .5s;
}


.submit-btn {
    color: rgb(142, 142, 142);
    background-color: white;
    border: solid 1px rgb(213, 213, 213);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5em;
    transition: .5s;
    margin-top: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgb(242, 242, 242)
}

.sign-in-option {
    font-size: 1.2em;
    margin: 10px;
    color: rgb(0, 17, 203)
}

.sign-in-option:hover {
    text-decoration: underline;
    cursor: pointer;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    padding: 15px;
    color: rgb(137, 137, 137);
    transition: .5s ease-out;
    border-radius: 10px;
    text-decoration: none;
}

.back:hover {
    transform: translateX(20px);
    cursor: pointer;
    background-color: rgb(255, 232, 242);
}