.home {
    height: 100vh;
    background: linear-gradient(57deg,#a632f3,#57edd8,#ffb337,#f5a7ff,#1d4ec4);
    background-size: 300% 300%;
    animation: gradient-animation 30s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-title {
    width: 27ch;
    color: white;
    animation: typing 3s steps(27), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 5em;
    user-select: none;
    margin-bottom: 100px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.get-started{
    font-size: 2em;
    color: #ffffff;
    background: transparent;
    padding: 15px 40px;
    border: solid #ffffff 3px;
    box-shadow: rgb(0, 0, 0) 5px 5px 13px -10px;
    border-radius: 15px;
    transition : 661ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
  
.get-started:hover{
    transition : .5s;
    transform : translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 13px 0px;

}

u {
  font-family: monospace;
}
